@(user: User)(id_card_recover: java.lang.Integer)(util_recover: String)(projet: String)

@main(user) {

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="@routes.Assets.at("javascripts/jquery.mobile.custom.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/jquery.mobile.custom.js")"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="@routes.Assets.at("javascripts/js/bootstrap.min.js")"></script>

    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("stylesheets/css/bootstrap.min.css")" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../css/ie10-viewport-bug-workaround.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/css/bootstrap.min.css")">


<script>
window.addEventListener("load",function() {
	// Set a timeout...
	setTimeout(function(){
		// Hide the address bar!
		window.scrollTo(0, 1);
	}, 0);
});

function initialisation_page() {
        
       // alert("@{util_recover}");

                var elmt_form = document.getElementsByClassName("navbar-form");
                elmt_form[0].style.display = 'inline';
		        
};
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- @routes.Assets.at("javascripts/password.js") -->
<script src="@routes.Assets.at("javascripts/jquery.mobile.custom.min.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.mobile.custom.js")"></script>
<script src="@routes.Assets.at("javascripts/js/bootstrap.min.js")"></script>

<script>
//alert('util_recover:@{util_recover}');
var num_face = 1;//3 si remplissage d'un commentaire
var num_carte = @{id_card_recover};
var util = "@{util_recover}";
var proj="@{projet}";
</script>
<center>
<div>
    <img id="entete" src='@routes.Assets.at("images/drawable/yingyong.png")' style="width: 30%;margin:0 auto">
</div>
</center>
<div class="text_form">
    <p>Bonjour @{util_recover} !</p>
</div>

@if(!projet.equals("")) {

<div class="text_form">
    <p>Vous avez un RampUp en cours pour le projet @{projet}.</p>
    <p>Avancement : @{id_card_recover}/30</p>
</div>
<center><HR></center>
<div class="text_form" style="display:inline">
    <p>Continuer le Ramp Up en cours</p>
</div>
<center>
<form class="navbar-form navbar-left" role="search" method="post" style="margin-left: auto; margin-right: auto;width:100%">
    <button id="continuer" type="submit" class="btn btn-default">Continuer</button>
</form>
</center>
} else {
<div class="text_form">
    <p>Vous n'avez pas de RampUp en cours</p>
</div>
}
<center><HR></center>
<div class="text_form" style="margin-left: auto; margin-right: auto;;width:100%">
    <p>Commencer un nouveau RampUp
    @if(!projet.equals("")) {
    (Cela aura pour effet d'effacer les données de l'itération en cours)
    }
    </p>
</div>
<center>
<!--<form class="navbar-form navbar-left" action="http://ec2-35-165-79-196.us-west-2.compute.amazonaws.com:8080/dashboard" role="search" method="post"> -->
<form class="navbar-form navbar-left" action="dashboard" role="search" method="post">
    <div class="form-group">
        <input type="text" name="projet" class="form-control" placeholder="Nom du projet">
        <input type="hidden" name="id" value="1" class="form-control">
        <input type="hidden" name="util" value="@{util_recover}" class="form-control">
    </div>
    <button id="commencer" type="submit" class="btn btn-default">Commencer</button>
</form>
</center>

<script>
initialisation_page();
</script>

<script>
	$(document).ready(function() {
  		 $(".carousel-inner").swiperight(function() {
  		// alert("Swiperight");


                if(window.num_face==2)
                {
                    var elmt = document.getElementsByClassName("btn-group");
		            elmt[0].style.display = 'none';
		            window.num_face=1;
		            $(this).parent().carousel('prev');

		            var elmt_text_face = document.getElementsByClassName("text_face");
		            elmt_text_face[0].style.display = 'inline';

		            var elmt_text_back = document.getElementsByClassName("text_back");
		            elmt_text_back[0].style.display = 'none';
                }

	    		});
		   $(".carousel-inner").swipeleft(function() {
		 //  alert("Swipeleft");


                if(window.num_face==1)
                {
                    var elmt = document.getElementsByClassName("btn-group");
		            elmt[0].style.display = 'inline';
		            window.num_face=2;
		            $(this).parent().carousel('next');

		            var elmt_text_back = document.getElementsByClassName("text_back");
		            elmt_text_back[0].style.display = 'inline';

		            var elmt_text_face = document.getElementsByClassName("text_face");
		            elmt_text_face[0].style.display = 'none';
                }

	   });
	});

   $('#continuer').on('click', function(event) {
        continue_rampup();
        //go_to_next_card();
        //alert('clic');
        event.preventDefault(); // To prevent following the link (optional)
    });

function continue_rampup () {

    //alert('debug window.num_carte:'+window.num_carte);
    //alert('debug window.util:'+window.util);
    //alert('debug projet:'+window.proj);
    
    //Création dynamique du formulaire
    var form = document.createElement("form");
    //alert('debug 2:'+form);
    form.setAttribute("method", "POST");
    //alert('debug 2.1');
    //form.setAttribute("action", "http://ec2-35-165-79-196.us-west-2.compute.amazonaws.com:8080/dashboard");
    form.setAttribute("action", "dashboard");
    //Ajout des paramètres sous forme de champs cachés
    //alert('debug 3');
    var champCacheId = document.createElement("input");
    champCacheId.setAttribute("type", "hidden");
    champCacheId.setAttribute("name", "id");
    champCacheId.setAttribute("value", window.num_carte);
    
    var champCacheUtil = document.createElement("input");
    champCacheUtil.setAttribute("type", "hidden");
    champCacheUtil.setAttribute("name", "util");
    champCacheUtil.setAttribute("value", window.util);
    
    var champCacheProjet = document.createElement("input");
    champCacheProjet.setAttribute("type", "hidden");
    champCacheProjet.setAttribute("name", "projet");
    champCacheProjet.setAttribute("value", window.proj);
    
    //alert('debug 4');
    form.appendChild(champCacheId);
    form.appendChild(champCacheUtil);
    form.appendChild(champCacheProjet);
    document.body.appendChild(form);
    //alert('debug 5');
    
    form.submit();

}

	</script>
    
    

}